
.nav-bar{
    background-color:rgb(231, 231, 241);
    height: 200px;
    width: 1295px;
    
}


a{ 
    color:rgb(194, 186, 209);

}


a:hover{
    background-color:white;
  

}
.logo{
    height: 200px;
    width:200px;
    position: absolute;
    top:90px;
    left: 550px;
    border-radius: 30%;
    
}



li{
    
    background-color: rgb(98, 122, 228);
    border-color:none;
    height: 40px;
    width:150px;
    float:right;
    position: absolute;
    top:800px;
    left: 570px;
   
        
}


.button{
    background-color: rgb(98, 122, 228);
    border-color:none;
    height: 40px;
    width:150px;
    float:right;
    position: absolute;
    top:800px;
    left: 570px;
   
        
}

/* Style the tab buttons */
.tablink{
    background-color:  rgb(115, 94, 173);
    color: rgb(115, 94, 173);
    float: left;
    border: none;
    outline-color:none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    width: 25%;
}
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color:white;
    color:white;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color:white;
    display: none;
    padding: 50px;
    text-align: center;
  }



  
header{
    height:150px;
    background-color:rgb(115, 94, 173);
    width:1295px;
}



.fam{
  
    height:390px;
    width:200px;
    float:right;
    margin:40px;
    
    

}

.fam1{
    color:white;
    margin:70px;
    left:180px;
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    position: relative;
    
}

.box{
    
    background-color: black;
    height:400px;
    width:1295px;
    margin-top:-260px;
    
  
}

.fam2{
    height:390px;
    width:200px;
    margin:50px;
    margin-top:-0px;
   
}

.famtwo{
    position:absolute;
    left:320px;
    margin:100px;
    font-size:50px;
    font-family: 'Tangerine', cursive;
    }

    .three{

    height:390px;
    width:200px;
    right:200px;
    margin:-200px;
    float:right;
    position:relative;


    }

    .fam3{
        position: absolute;
        margin:160px;
        right:200px;
        color:white;
        font-size: 50px;
        font-family: 'Tangerine', cursive;}

    .four{
        height:390px;
        width:200px;
        left:20px;
        position:relative;
    

    }

    .famfour{
        position:absolute;
        left:300px;
        top:1700px;
        color:black;
        font-size:40px;
        font-family: 'Tangerine', cursive;
            
    }
.container1{
        height:100px;
        width:1290px;
        background-color:black;
           

}
        .social{
            background-color:black;
            display: inline-block;
           }
        
    .box2{
        background-color: black;
        height:400px;
        width:1880px;
       
    }