.nav-bar{
    background-color:rgb(231, 231, 241);
    height: 200px;
    width: 1295px;
   
    
}


a{ 
    color:rgb(194, 186, 209);

}


a:hover{
    color:rgb(231, 231, 241);

}
.logo{
    height: 200px;
    width:200px;
    position: absolute;
    top:90px;
    left: 550px;
    border-radius: 30%;
    
}



.sunset {
   height: 800px;
   width: 1300px;
   margin-top:300px;
   top: 60px;
   position: absolute;
   
    

   
}


.banner{
    height: 800px;
    width: 1300px;
    margin:80px;
    margin-right: 550px;
    float: right;
    border-block-end-style: ridge;
    }



li{
    
    background-color: rgb(98, 122, 228);
    height: 40px;
    width:150px;
    float:right;
    position: absolute;
    top:800px;
    left: 570px;
   
        
}


.button{
    background-color:white; 
    height: 40px;
    width:150px;
    top:400px;
    left: 50px;
    margin:500px;
    
        
}
.sunset {
    height: 800px;
    width: 1300px;
    margin-top:300px;
    top: 60px;
    position: absolute;
}


 




/* Style the tab buttons */
.tablink{
    background-color:  rgb(115, 94, 173);
    color: rgb(115, 94, 173);
    float: left;
    border:none;
    outline-color:none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    width: 25%;
}
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color:white;
    color:white;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color:white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
 /* Style each tab content individually */ 
 



  
header{
    height:150px;
    background-color:rgb(115, 94, 173);
    width:1295px;
}



.img{
    padding:70px;
    height:325px;
}

.social{
    background-color:white;
    display: inline-block;
   

}


   





.email{
    width:40%;
    height: 50px;
    background-color:transparent;
    font-size: 20px;
    font-display: center;
    margin:400px;
    position: absolute;
    border-left: 0px;
    border-right:0px;
    border-top:0px;
    border-bottom-color: rgb(98, 122, 228);  

}

.firstname{
    width:40%;
    height: 50px;
    background-color:transparent;
    font-size: 20px;
    font-display: center;
    top:200px;
    left:240px;
    margin:400px;
    position: absolute;
    border-left: 0px;
    border-right:0px;
    border-top:0px;
    border-bottom-color: rgb(98, 122, 228);  


}


.lastname{
    width:40%;
    height: 50px;
    background-color:transparent;
    font-size: 20px;
    font-display: center;
    top:200px;
    right:300px;
    margin:400px;
    position: absolute;
    border-left: 0px;
    border-right:0px;
    border-top:0px;
    border-bottom-color: rgb(98, 122, 228);    
}


